@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
    <div class="text-center">
        <h1 class="display-4">Welcome</h1>
        <p>
            This page was created for the purposes of learning .NET with Razor Pages.  The content has been created with the<br />
            best of my understanding and incorporates learned material from the Razor Web Page project from the week before.
        </p>
        <p>I hope you enjoy your brief visit and appreciate you checking this out!</p>
        <p>-Steve</p>
    </div>
