@page
@model PrivacyModel
@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>As part of an ongoing effort to pretend this application does anything more than store text fields, this page does not track or distribute any information that is entered herein.  All data and scripture markings that you decide to include in this Scripture Journal cannot be accessed by anyone other than you, which is pretty cool.</p>
<p>Feel free to use this as much or as little as you care to since the only way you can really use it is by storing the page locally and going from there.  I appreciate your understanding on these completely insane policies.</p>
